COMPOSE_PROJECT_NAME=platform-registries-dev

REGISTRY_IMAGE=registry:2
REGISTRY_CONTAINER_NAME=platform-docker-registry
REGISTRY_GATEWAY_CONTAINER_NAME=platform-docker-registry-gateway
REGISTRY_HOSTNAME=docker-registry.dev.jac.dot
REGISTRY_HOST_PORT=5000
REGISTRY_DATA_DIR=/absolute/path/to/platform-registries/dev/registry-data
REGISTRY_AUTH_FILE=/absolute/path/to/platform-registries/dev/secrets/docker-registry.htpasswd
REGISTRY_TLS_CERT_FILE=/absolute/path/to/platform-registries/dev/certs/docker-registry.crt
REGISTRY_TLS_KEY_FILE=/absolute/path/to/platform-registries/dev/certs/docker-registry.key

PYPI_IMAGE=pypiserver/pypiserver:latest
PYPI_CONTAINER_NAME=platform-pypi-server
PYPI_GATEWAY_CONTAINER_NAME=platform-pypi-server-gateway
PYPI_HOSTNAME=packages.dev.jac.dot
PYPI_HOST_PORT=443
PYPI_AUTH_MODE=update,download,list
PYPI_DATA_DIR=/absolute/path/to/platform-registries/dev/pypi-data
PYPI_AUTH_FILE=/absolute/path/to/platform-registries/dev/secrets/pypi.htpasswd
PYPI_TLS_CERT_FILE=/absolute/path/to/platform-registries/dev/certs/packages.crt
PYPI_TLS_KEY_FILE=/absolute/path/to/platform-registries/dev/certs/packages.key

NGINX_IMAGE=nginx:1.29-alpine